<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Ogani Template">
	<meta name="keywords" content="Ogani, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title></title>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

	<!-- Css Styles -->
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
	<link th:href="@{/css/elegant-icons.css}" rel="stylesheet" />
	<link th:href="@{/css/nice-select.css}" rel="stylesheet" />
	<link th:href="@{/css/jquery-ui.min.css}" rel="stylesheet" />
	<link th:href="@{/css/owl.carousel.min.css}" rel="stylesheet" />
	<link th:href="@{/css/slicknav.min.css}" rel="stylesheet" />
	<link th:href="@{/css/style.css}" rel="stylesheet" />


	<link href="/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/css/font-awesome.min.css" rel="stylesheet" />
	<link href="/css/elegant-icons.css" rel="stylesheet" />
	<link href="/css/nice-select.css" rel="stylesheet" />
	<link href="/css/jquery-ui.min.css" rel="stylesheet" />
	<link href="/css/owl.carousel.min.css" rel="stylesheet" />
	<link href="/css/slicknav.min.css" rel="stylesheet" />
	<link href="/css/style.css" rel="stylesheet" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href='/js/teacher/lib/main.css' rel='stylesheet' />
	<script src='/js/teacher/lib/main.js'></script>
	<script src='/js/teacher/schedule.js' type="module"></script>
	<script th:src="@{/js/teacher/schedule.js}" type="module"></script>
</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<header class="header">
		<div class="header__top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="header__top__left">
							<ul>
								<li><i class="fa fa-envelope"></i>System@ContactBook.com</li>
								<li>Welcome to ContactBook.com</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="header__top__right">
							<div class="header__top__right__social">

							</div>
							<div class="header__top__right__auth">
								<a href="/path?path_url=teacher/login"><i class="fa fa-user"></i> Log out</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="header__logo">
						<a href="./index.html"><img src="img/logo1.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-6">
					<nav class="header__menu">
						<ul>
							<li><a href="/path?path_url=student/Homepage">Home</a></li>
							<li><a href="/path?path_url=student/studentProfile">Profile</a></li>
							<li><a href="/path?path_url=student/getNotify">Notify</a></li>
							<li><a href="/path?path_url=student/contact">Contact</a></li>
						</ul>
					</nav>
				</div>

			</div>
			<div class="humberger__open">
				<i class="fa fa-bars"></i>
			</div>
		</div>
	</header>


	<!-- Hero Section Begin -->
	<section class="hero">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3">
					<div class="hero__categories">
						<div class="hero__categories__all" style="background-color: #28a745;">
							<i class="fa fa-bars"></i> <span>Menu</span>
						</div>
						<ul>
							<li><a href="/path?path_url=student/academicTranscript">Grades</a></li>
							<li><a href="/path?path_url=student/studentStatus">Attendance</a></li>
							<li><a href="/path?path_url=student/schedule">Schedule</a></li>
							<li><a href="/path?path_url=student/sendNotify">Send Notify</a></li>
							<li><a href="/path?path_url=student/aboutUs">Feedback Admin</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-9" style="height:600px">

					<div id='calendar'></div>
   <!-- <div class="modal fade  bd-example-modal-xl " id="Modal" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-xl mw-100 w-75" role="document">
             <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="add_row" data-dismiss="">ADD</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save">Save changes</button>
                </div>
            </div> 
        </div>
    </div> -->

				</div>

			</div>
		</div>
		</div>
	</section>
	<!-- Hero Section End -->




	<!-- Footer Section Begin -->
	<footer class="footer spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="footer__about">
						<div class="footer__about__logo">
							<!-- <a href="./index.html"><img src="img/logo1.png" alt=""></a> -->
						</div>
						<ul>
							<li>254 Nguyễn Văn Linh, Thạc Gián, Thanh Khê, Đà Nẵng
								550000</li>
							<li>Phone: 0236 3653 561</li>
							<li>Email:System@ContactBook.com</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
					<div class="footer__widget">
						<h6>Useful Links</h6>
						<ul>
							<li><a href="#">About Us</a></li>

						</ul>
						<ul>
							<li><a href="#">Who We Are</a></li>
							<li><a href="#">Our Services</a></li>

						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-12">
					<div class="footer__widget">
						<h6>Join Our Newsletter Now</h6>
						<p>Get E-mail updates about our latest system and notify
							offers.</p>
						<form action="#">
							<input type="text" placeholder="Enter your mail">
							<button type="submit" style="background-color: #28a745;" class="site-btn">Subscribe</button>
						</form>
						<div class="footer__widget__social">

						</div>
					</div>
				</div>
			</div>

		</div>
	</footer>
	<!-- Footer Section End -->

	<!-- Js Plugins -->
	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{/js/jquery-ui.min.js}"></script>
	<script th:src="@{/js/mixitup.min.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>

	<script th:src="@{/CallAPI/main.js}"></script>
	<script th:src="@{/CallEvent/main.js}"></script>


	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.nice-select.min.js"></script>
	<script src="/js/jquery-ui.min.js"></script>
	<script src="/js/mixitup.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/main.js"></script>

	<script src="/CallAPI/main.js"></script>
	<script src="/CallEvent/main.js"></script>





</body>

</html>