<div class="header__top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="header__top__left">
                    <ul>
                        <li><i class="fa fa-envelope"></i>System@ContactBook.com</li>
                        <li>Welcome to ContactBook.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="header__top__right">
                    <div class="header__top__right__social">

                    </div>
                    <div class="header__top__right__auth">
                        <a href="/path?path_url=teacher/login"><i class="fa fa-user"></i> Log out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="header__logo">
                <a href="./index.html"><img src="img/logo1.png" alt=""></a>
            </div>
        </div>
        <div class="col-lg-6">
            <nav class="header__menu">
                <ul>
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="/path?path_url=teacher/ProfileManage">Profile</a></li>
                    <li><a href="/path?path_url=teacher/getNotify">Notify</a></li>
                    <li><a href="/path?path_url=teacher/contact">Contact</a></li>
                </ul>
                <html src="/student/test.html">

                </html>
            </nav>
        </div>

    </div>
    <div class="humberger__open">
        <i class="fa fa-bars"></i>
    </div>
</div>