<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
	<header class="header">
		<div class="header__top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="header__top__left">
							<ul>
								<li><i class="fa fa-envelope"></i>System@ContactBook.com</li>
								<li>Welcome to ContactBook.com</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="header__top__right">
							<div class="header__top__right__social">

							</div>
							<div class="header__top__right__auth">
								<a href="/path?path_url=teacher/login"><i class="fa fa-user"></i> Log out</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="header__logo">
						<a href="./index.html"><img src="img/logo1.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-6">
					<nav class="header__menu">
						<ul>
							<li><a href="/path?path_url=teacher/Homepage">Home</a></li>
							<li><a href="/path?path_url=teacher/ProfileManage">Profile</a></li>
							<li><a href="/path?path_url=teacher/getNotify">Notify</a></li>
							<li><a href="/path?path_url=teacher/contact">Contact</a></li>
						</ul>
					</nav>
				</div>

			</div>
			<div class="humberger__open">
				<i class="fa fa-bars"></i>
			</div>
		</div>
	</header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
					<div class="hero__categories">
						<div class="hero__categories__all" style="background-color: #28a745;">
							<i class="fa fa-bars"></i> <span>Menu</span>
						</div>
						<ul>
							<li><a href="/path?path_url=teacher/showInfoStudent">Add Student</a></li>
							<li><a href="/path?path_url=teacher/academicTranscript">See Grades</a></li>
							<li><a href="/path?path_url=teacher/saveAttendance">Attendance</a></li>
							<li><a href="/path?path_url=teacher/schedule">Schedule</a></li>
							<li><a href="/path?path_url=teacher/sendNotify">Send Notify Teacher</a></li>
							<li><a href="/path?path_url=teacher/aboutUs">See Feedback Admin</a></li>
						</ul>
					</div>
				</div>
                <div class="col-lg-9">
                    <div class="hero__item set-bg" style="height:266px" data-setbg="/img/hero/banner1.png">
                    </div>
                    <div class="bg-light p-3 rounded">
                        <div class="h2 text-success pb-2 border-bottom">EDUCATION CONTACT EBOOK 4.0</div>
                        <!-- teacher Profile -->
                            <div>ECE4.0 is created, short of Education Contact Ebook, is an application with the automatic 
                                attendance by face recognition that is the most highlighted, which works using a mobile device 
                                with camera integrated, teachers need to take a photo of all participants faces, the system will 
                                automatically recognize and process the attendance results. This application also provides a 
                                convenient way of communication and information capture for parent, by updating teachers' 
                                posts, monitoring academic transcript, checking attendance or absence, and an online 
                                messenger system with teachers
                            </div>
                    </div>
                    <div class="bg-light p-3 rounded mt-2">
                        <div class="h2 text-success">Meet some bug? Need Fix? Or just give us some review</div>
                        <div class="h4 pb-2 border-bottom">Send your thoughs below!</div>
                        <div class="form-group">
                            <textarea class="form-control" id="feedbackForm" rows="3" placeholder="Comment here"></textarea>
                          </div>
                          <div class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Send Feedback</div>
                          <!-- MODAL -->
                          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Your Feedback Has Been Send</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  Thank you!
                                </div>
                                <div class="modal-footer">
                                 
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <!-- <a href="./index.html"><img src="img/logo1.png" alt=""></a> -->
                        </div>
                        <ul>
                            <li>254 Nguyễn Văn Linh, Thạc Gián, Thanh Khê, Đà Nẵng 550000</li>
                            <li>Phone: 0236 3653 561</li>
                            <li>Email:System@ContactBook.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest system and notify offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit"  style="background-color: #28a745;" class="site-btn">Subscribe
                            <a href="path?path_url=teacher/showInfoStudent"></a></button>
                        </form>
                        <div class="footer__widget__social">
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>



</body>

</html>