<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Điểm Danh</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../../css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../../css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../../../css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../../../css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../../../css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../../../css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../../../css/style.css" type="text/css">
    <link rel="stylesheet" href="../../../css/saveAttendance.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        #container {
            width: 50%;
            position: relative;
        }

        #container img {
            width: 100%;
            height: 100%;
        }

        canvas {
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
    <link th:href="@{/css/elegant-icons.css}" rel="stylesheet" />
    <link th:href="@{/css/nice-select.css}" rel="stylesheet" />
    <link th:href="@{/css/jquery-ui.min.css}" rel="stylesheet" />
    <link th:href="@{/css/owl.carousel.min.css}" rel="stylesheet" />
    <link th:href="@{/css/slicknav.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/showInfoStudent.css}" rel="stylesheet" />


    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/elegant-icons.css" rel="stylesheet" />
    <link href="/css/nice-select.css" rel="stylesheet" />
    <link href="/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="/css/slicknav.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <header class="header">
		<div class="header__top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="header__top__left">
							<ul>
								<li><i class="fa fa-envelope"></i>System@ContactBook.com</li>
								<li>Welcome to ContactBook.com</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="header__top__right">
							<div class="header__top__right__social">

							</div>
							<div class="header__top__right__auth">
								<a href="/path?path_url=teacher/login"><i class="fa fa-user"></i> Log out</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="header__logo">
						<a href="./index.html"><img src="img/logo1.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-6">
					<nav class="header__menu">
						<ul>
							<li><a href="/path?path_url=teacher/Homepage">Home</a></li>
							<li><a href="/path?path_url=teacher/ProfileManage">Profile</a></li>
							<li><a href="/path?path_url=teacher/getNotify">Notify</a></li>
							<li><a href="/path?path_url=teacher/contact">Contact</a></li>
						</ul>
					</nav>
				</div>

			</div>
			<div class="humberger__open">
				<i class="fa fa-bars"></i>
			</div>
		</div>
	</header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
					<div class="hero__categories">
						<div class="hero__categories__all" style="background-color: #28a745;">
							<i class="fa fa-bars"></i> <span>Menu</span>
						</div>
						<ul>
							<li><a href="/path?path_url=teacher/showInfoStudent">Add Student</a></li>
							<li><a href="/path?path_url=teacher/academicTranscript">See Grades</a></li>
							<li><a href="/path?path_url=teacher/saveAttendance">Attendance</a></li>
							<li><a href="/path?path_url=teacher/schedule">Schedule</a></li>
							<li><a href="/path?path_url=teacher/sendNotify">Send Notify Teacher</a></li>
							<li><a href="/path?path_url=teacher/aboutUs">See Feedback Admin</a></li>
						</ul>
					</div>
				</div>

                <!--Attendance System-->
                <div class="col-lg-9 bg-light p-3">
                    <div class="list-class-container">
                        <h3 class="titleAttendance">Attendance Management</h3>
                    </div>
                    <div class="list-timeStudy-container listClassStudy">
                        <ul class="list-group" id="list-classStudy">

                        </ul>
                    </div>
                    <div class="list-timeStudy-container listTimeStudy">
                        <ul class="list-group" id="list-timeStudy">

                        </ul>
                        <button class="back-button" id="back-to-list-class">
                            <i class="fa-solid fa-backward"> Back</i>
                        </button>
                    </div>

                    <div class="list-timeStudy-container list-student-by-class">
                        <table class="table table-bordered">
                            <thead class="text-white bg-success">
                                <tr>
                                    <th scope="col">Student Id</th>
                                    <th scope="col">FullName</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Reason</th>
                                </tr>
                            </thead>
                            <tbody id="list-student">

                            </tbody>
                        </table>

                        <button id="saveAttendance">Save</button>
                        <button class="back-button" id="back-to-list-timeStudy">
                            <i class="fa-solid fa-backward"> Back</i>
                        </button>

                        <input type="file" class="btn btn-success" name="file" id="file-input"></input>
                        <button class="btn btn-secondary" id="btnConfirm">Confirm</button>
                        <!-- <a href="/path?path_url=teacher/attendanceAI" class="btn-success" style="right: 5px ;"><i
                                class="fa-solid fa-nextward">
                                Attendance AI</i></a> -->

                    </div>
                    <div>
                        <p id="loading">Hệ thống đang tải dữ liệu ... </p>
                        <!-- <input type="file" name="file" id="file-input" /> -->

                        <div id="container"></div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <!-- <a href="./index.html"><img src="img/logo1.png" alt=""></a> -->
                        </div>
                        <ul>
                            <li>254 Nguyễn Văn Linh, Thạc Gián, Thanh Khê, Đà Nẵng 550000</li>
                            <li>Phone: 0236 3653 561</li>
                            <li>Email:System@ContactBook.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>

                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest system and notify offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" style="background-color: #28a745;" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="../../../js/jquery-3.3.1.min.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
    <script src="../../../js/jquery.nice-select.min.js"></script>
    <script src="../../../js/jquery-ui.min.js"></script>
    <script src="../../../js/jquery.slicknav.js"></script>
    <script src="../../../js/mixitup.min.js"></script>
    <script src="../../../js/owl.carousel.min.js"></script>
    <script src="../../../js/main.js"></script>

    <script src="../../../js/teacher/saveAttendance.js"> </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/js/showInfoStudent.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/teacher/validate.js"></script>
    <script src="/CallEvent/main.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/face-api.js@0.22.2/dist/face-api.js"
        integrity="sha256-JOJ7NmVm2chxYZ1KPcAYd2bwVK7NaFj9QKMp7DClews=" crossorigin="anonymous"></script>
    <script src="/js/teacher/scripts.js"></script>
</body>

</html>