<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Điểm Danh - Đức</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../../css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../../css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../../../css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../../../css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../../../css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../../../css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../../../css/style.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="../../img/logo1.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="../../img/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Login</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Home</a></li>
                <li><a href="./shop-grid.html">Shop</a></li>
                <li><a href="#">Notify</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i>System@ContactBook.com</li>
                <li>Welcome to ContactBook.com</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i>System@ContactBook.com</li>
                                <li>Welcome to ContactBook.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="#"><i class="fa fa-user"></i> Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo1.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="./index.html">Home</a></li>
                            <li><a href="./shop-grid.html">Profile</a></li>
                            <li><a href="#">Notify</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>

            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Menu</span>
                        </div>
                        <ul>
                            <li><a href="#">See Grades</a></li>
                            <li><a href="#">Feedback Grades</a></li>
                            <li><a href="#">Chat With Teacher</a></li>
                            <li><a href="#">Comment On System</a></li>
                            <li><a href="#">See Feedback Admin</a></li>
                        </ul>
                    </div>
                </div>

                <!--Attendance System-->
                <div class="col-lg-9 bg-light p-3">
                    <div class="list-class-container">
                        <ul class="list-group list-class" id="list-class">
                            <li class="list-group-item disabled">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Morbi leo risus</li>
                            <li class="list-group-item">Porta ac consectetur ac</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>
                    <div class="list-timeStudy-container">
                        <ul class="list-group" id="list-timeStudy">
                            <li class="list-group-item disabled">Time 1</li>
                            <li class="list-group-item">Time 2</li>
                            <li class="list-group-item">Time 3</li>
                            <li class="list-group-item">Time 4</li>
                            <li class="list-group-item">Time 5</li>
                        </ul>
                    </div>

                    <div class="list-timeStudy-container">
                        <table class="table table-bordered">
                            <thead class="text-white bg-success">
                                <tr>
                                    <th scope="col">Student Id</th>
                                    <th scope="col">FullName</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Reason</th>
                                </tr>
                            </thead>
                            <tbody id="list-student">

                            </tbody>
                            <button id="saveAttendance" >Save attendance</button>
                        </table>
                    </div>

                    <div class="attendance-header pb-3 border-bottom">
                        <div class="row mb-3">
                            <div class="col h2">Attendance</div>
                            <div class="col empty"></div>
                            <div class="col">
                                <input class="date border p-1 bg-white rounded w-75" type="date"></input>
                            </div>
                        </div>
                        <div class="row">
                            <!--Class selector-->
                            <div class="col-3">
                                <select class="custom-select custom-select-sm w-100" id="gender2">
                                    <option selected>Select Class</option>
                                    <option value="1">D</option>
                                    <option value="2">A</option>
                                </select>
                            </div>
                            <!--Subject Selector-->
                            <div class="col-3">
                                <select class="custom-select w-100" id="gender2">
                                    <option selected>Select Subject</option>
                                    <option value="1">A</option>
                                    <option value="2">A</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <button class="btn btn-success w-75">Take Attendance</button>
                            </div>

                            <div class="col-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup"
                                        placeholder="Search">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="attendace-body">
                        <table class="table table-bordered">
                            <thead class="thead text-white bg-success">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col"><i class="fa fa-font" aria-hidden="true"></i> Student Name</th>
                                    <th scope="col"><i class="fa fa-tag" aria-hidden="true"></i> Status</th>
                                    <th scope="col"><i class="fa fa-star" aria-hidden="true"></i> Participation</th>
                                    <th scope="col"><i class="fa fa-commenting-o" aria-hidden="true"></i> Teacher's Note
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td class="student-name">Mark Robert</td>
                                    <td class="status p-1">
                                        <select class="custom-select border-0 bg-transparent w-100">
                                            <option selected>Select Status</option>
                                            <option value="1">Attended</option>
                                            <option value="2">Permission</option>
                                            <option value="3">Skipped</option>
                                        </select>
                                    </td>
                                    <td class="participation text-center">5</td>
                                    <td class="note">
                                        <textarea type="text" rows="1" placeholder="Note"
                                            class="border-0 w-100 bg-transparent"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td class="student-name">Mark Robert</td>
                                    <td class="status p-1">
                                        <select class="custom-select border-0 bg-transparent w-100">
                                            <option>Select Status</option>
                                            <option selected value="1">Attended</option>
                                            <option value="2">Permission</option>
                                            <option value="3">Skipped</option>
                                        </select>
                                    </td>
                                    <td class="participation text-center">5</td>
                                    <td class="note">
                                        <textarea type="text" rows="1" placeholder="Note"
                                            class="border-0 w-100 bg-transparent"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td class="student-name">Mark Robert</td>
                                    <td class="status p-1">
                                        <select class="custom-select border-0 bg-transparent w-100">
                                            <option>Select Status</option>
                                            <option value="1">Attended</option>
                                            <option selected value="2">Permission</option>
                                            <option value="3">Skipped</option>
                                        </select>
                                    </td>
                                    <td class="participation text-center">5</td>
                                    <td class="note">
                                        <textarea type="text" rows="1" placeholder="Note"
                                            class="border-0 w-100 bg-transparent"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td class="student-name">Mark Robert</td>
                                    <td class="status p-1">
                                        <select class="custom-select border-0 bg-transparent w-100">
                                            <option>Select Status</option>
                                            <option value="1">Attended</option>
                                            <option value="2">Permission</option>
                                            <option selected value="3">Skipped</option>
                                        </select>
                                    </td>
                                    <td class="participation text-center">5</td>
                                    <td class="note">
                                        <textarea type="text" rows="1" placeholder="Note"
                                            class="border-0 w-100 bg-transparent"></textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="img/logo1.png" alt=""></a>
                        </div>
                        <ul>
                            <li>254 Nguyễn Văn Linh, Thạc Gián, Thanh Khê, Đà Nẵng 550000</li>
                            <li>Phone: 0236 3653 561</li>
                            <li>Email:System@ContactBook.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>

                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest system and notify offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="../../../js/jquery-3.3.1.min.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
    <script src="../../../js/jquery.nice-select.min.js"></script>
    <script src="../../../js/jquery-ui.min.js"></script>
    <script src="../../../js/jquery.slicknav.js"></script>
    <script src="../../../js/mixitup.min.js"></script>
    <script src="../../../js/owl.carousel.min.js"></script>
    <script src="../../../js/main.js"></script>

    <script src="../../../js/teacher/saveAttendance.js"> </script>

</body>

</html>