<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Ogani Template">
	<meta name="keywords" content="Ogani, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title></title>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

	<!-- Css Styles -->
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
	<link th:href="@{/css/elegant-icons.css}" rel="stylesheet" />
	<link th:href="@{/css/nice-select.css}" rel="stylesheet" />
	<link th:href="@{/css/jquery-ui.min.css}" rel="stylesheet" />
	<link th:href="@{/css/owl.carousel.min.css}" rel="stylesheet" />
	<link th:href="@{/css/slicknav.min.css}" rel="stylesheet" />
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<link th:href="@{/css/administrator.css}" rel="stylesheet" />

	<link href="/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/css/font-awesome.min.css" rel="stylesheet" />
	<link href="/css/elegant-icons.css" rel="stylesheet" />
	<link href="/css/nice-select.css" rel="stylesheet" />
	<link href="/css/administrator.css" rel="stylesheet" />
	<link href="/css/jquery-ui.min.css" rel="stylesheet" />
	<link href="/css/owl.carousel.min.css" rel="stylesheet" />
	<link href="/css/slicknav.min.css" rel="stylesheet" />
	<link href="/css/style.css" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body id="app">
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i>System@ContactBook.com</li>
                                <li>Welcome to ContactBook.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                               
                            </div>
                            <div class="header__top__right__auth">
                                <a href="/"><i class="fa fa-user"></i> Log out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./path?path_url=administrator/adminHomepage"><img src="img/logo1.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="/path?path_url=admin/Homepage">Home</a></li>
							<li><a href="/path?path_url=admin/adminProfile">Profile</a></li>
							<li><a href="/path?path_url=admin/getNotify">Notify</a></li>
							<li><a href="/path?path_url=admin/contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
               
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
	<!-- Header Section End -->

	<!-- Hero Section Begin -->
	<section class="hero">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all" style="background-color: #28a745;">
                            <i class="fa fa-bars"></i>
                            <span>Menu</span>
                        </div>
                        <ul>
                            <li><a href="#">School Manage</a></li>
							<li><a href="/path?path_url=admin/schedule">Schedule</a></li>
							<li><a href="/path?path_url=admin/sendNotify">Send Notify</a></li>
							<li><a href="/path?path_url=admin/aboutUs">Feedback User</a></li>
                        </ul>
                    </div>
                </div>
				<div class="col-lg-9">
					<div>
						<div class="container border-primary">
							<div id="main-administrator">
								<div class="row p-2 bg-bgr text-white" style="background-color: #28a745;">
									<h2>Admin Management</h2>
								</div>
								<div class="row">
									<div class="col my-2 nav-button-add">
										<button type="button" class="btn btn-success" data-toggle="modal"
											data-target="#teacherModal">Add
											Teacher</button>
										<button type="button" class="btn btn-success"
											onclick="showTeacherModal('subjectModal')">Add
											Subject</button>
										<button type="button" class="btn btn-success" data-toggle="modal"
											data-target="#classModal">Add
											Class</button>
									</div>
									<div class="w-100"></div>
									<div class="col">
										<div class="nav-teacher-subject pagination">
											<div class="page-item btn btn-secondary text-white" id="show-teacher-list">
												<h4>List teacher</h4>
											</div>
											<div class="page-item btn btn-secondary text-white" id="show-subject-list">
												<h4>List subject</h4>
											</div>
											<div class="page-item btn btn-secondary text-white" id="show-classStudy-list">
												<h4>Class study</h4>
											</div>
										</div>
										<table class="table table-crud" id="table-teacher">
											<thead class="thead-dark">
												<tr>
													<th scope="col">Fullname</th>
													<th scope="col">Gender</th>
													<th scope="col">Address</th>
													<th scope="col">Email</th>
													<th scope="col">Phone</th>
													<th scope="col"></th>
													<th></th>
												</tr>
											</thead>
											<tbody style="line-height: 0.5" id="show_data">
											</tbody>
										</table>
										<table class="table subject-crud d-none" id="table-subject">
											<thead class="thead-dark">
												<tr>
													<th scope="col"></th>
													<th scope="col">Subject name</th>
													<th></th>
												</tr>
											</thead>
											<tbody style="line-height: 0.5" id="show_data_subject">
											</tbody>
										</table>
										<table class="table class-study-crud d-none" id="table-classStudy">
											<thead class="thead-dark">
												<tr>
													<th scope="col"></th>
													<th scope="col">Class</th>
													<th scope="col">Subject</th>
													<th scope="col">Teacher</th>
													<th></th>
												</tr>
											</thead>
											<tbody style="line-height: 0.5" id="show_data_class">
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div id="class-manage-mng">
								<div id="header-class-mng"></div>
								<div class="content-class d-none">
									<table class="table">
										<thead>
											<tr>
												<th scope="col">StudentID</th>
												<th scope="col">Fullname</th>
												<th></th>
											</tr>
										</thead>
										<tbody id="content-list-student">

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero Section End -->

	<!-- ClassDetail Modal -->
	<div id="AddStudentToClassModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content" style="width:800px;">
				<div class="modal-header">
					<h4 class="modal-title">Student</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="container"></div>
				<div class="modal-body" id="inforStudentAdd">
					<div class="form-row">
						<div class="col">
							<div class="group-add-student">
								<form id="add-student-to-class-form">
									<div class="input-group mb-3">
										<input type="hidden" id="classStudyId-val" name="classStudyId">
											<div class="form-inline">
												<input type="text" class="form-control mr-sm-2" name="studentId"
													id="studentIdSaveToClass"
													placeholder="Enter student id" aria-label="Recipient's username"
													aria-describedby="basic-addon2">
												<button class="btn btn-outline-success my-2 my-sm-0" id="search-student-class"
													type="button">
													<i class="fa-sharp fa-solid fa-magnifying-glass"></i>
												</button>
											</div>
										<h4 class="p-4" id="student-name"></h4>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="button" class="btn btn-info" id="save-student-to-class" value="Save">
				</div>
			</div>
		</div>
	</div>
	<!-- Edit Modal HTML -->
	<!-- subjectModal -->
	<div id="subjectModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content" style="width:800px;">
				<div class="modal-header">
					<h4 class="modal-title">Subject</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="container"></div>
				<div class="modal-body" id="inforSubject">
					<div class="form-row">
						<div class="col">
							<form id="subject_form">
								<div>
									<input type="hidden" name="subjectId" id="subjectId">
									<label class="col-form-label">Subject name</label>
									<input type="text" name="subjectName" id="subjectName" class="form-control"
										placeholder="subject name">
								</div>
								<button id="subjectSubmit" type="submit" class="d-none"></button>
							</form>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="button" class="btn btn-info" id="save_subject" value="Save">
				</div>
			</div>
		</div>
	</div>
	<!-- teacherModal -->
	<div id="teacherModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content" style="width:800px;">
				<div class="modal-header">
					<h4 class="modal-title">Teacher</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="container"></div>
				<form id="teacher_form">
					<div class="modal-body" id="inforStudent">
						<div class="form-row">
							<div class="col">
								<!--  <input type="hidden" th:field="*{teacherId}" name="teacherId" id="teacherId"> -->
								<div>
									<label class="col-form-label">Full name</label>
									<input type="text" name="fullname" class="form-control" placeholder="Full name">
								</div>
								<label class="col-form-label">Gender</label> <br>
								<div>
									<input class="form-control" type="text" name="sex" id="sex"
										placeholder="Enter Male or Female">
								</div>
								<input type="hidden" name="teacherId">

								<div>
									<label class="col-form-label">Birthday</label>
									<input type="date" name="birthday" class="form-control">
								</div>
								<div>
									<label class="col-form-label">Address</label>
									<input type="text" name="address" class="form-control" placeholder="Address">
								</div>
								<div>
									<label class="col-form-label">Password</label>
									<input type="password" name="password" class="form-control"
										placeholder="Enter password">
								</div>
								<div>
									<label class="col-form-label">Class manage</label>
									<input type="text" name="classManage" class="form-control"
										placeholder="Class manage">
								</div>
							</div>
							<div class="col">
								<div>
									<label class="col-form-label">Degree</label>
									<input type="text" name="degree" class="form-control" placeholder="degree">
								</div>
								<div>
									<label class="col-form-label">Email</label>
									<input type="text" name="email" class="form-control" placeholder="Email">
								</div>
								<div>
									<label class="col-form-label">Phone</label>
									<input type="text" name="phone" class="form-control" placeholder="Phone number">
								</div>
								<div>
									<label class="col-form-label">Photo</label>
									<input type="text" name="photo" class="form-control" placeholder="degree">
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="button" class="btn btn-info" id="save_inforTeacher" value="Save">
				</div>
			</div>
		</div>
	</div>

	<!-- class Modal -->
	<div id="classModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content" style="width:800px;">
				<div class="modal-body">
					<div class="modal-header">
						<h4 class="modal-title">Class manage</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="container"></div>
					<form id="class_study_form">
						<div class="form-group">
							<label>Class name</label>
							<input type="text" name="className" id="className" class="form-control"
								placeholder="Enter class name">
							<div class="form-group">
								<label>Teacher</label>
								<div class="form-inline">
										<select name="teacherId" id="teacherName" class="custom-select">

										</select>
								</div>
								<label>Subject</label>
								<div class="form-inline">
										<select name="subjectId" id="subject" class="custom-select">

										</select>
								</div>
							</div>
						</div>
					</form>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="button" class="btn btn-info" id="save-class-study" value="Save">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal confirm delete subject -->
	<div id="deleteSubjectModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">
						<h4 class="modal-title">Delete Subject</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<p>Are you sure you want to delete this Subject ?</p>
						<p class="text-warning"><small>This action cannot be undone.</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<button type="button" class="btn btn-danger" id="confirm_delete_subject">Delete</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Modal confirm delete subject -->
	<div id="deleteStudentFromClass" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">
						<h4 class="modal-title">Remove student from class</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<p>Are you sure you want to remove student from this class ?</p>
						<p class="text-warning"><small>This action cannot be undone.</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<button type="button" class="btn btn-danger" id="confirm_remove_student">Delete</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Modal confirm delete subject -->
	<div id="deleteTeacherModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">
						<h4 class="modal-title">Delete Teacher</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<p>Are you sure you want to delete this Teacher ?</p>
						<p class="text-warning"><small>This action cannot be undone.</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<button type="button" class="btn btn-danger" id="confirm_delete_teacher">Delete</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Footer Section Begin -->
	<footer class="footer spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="footer__about">
						<div class="footer__about__logo">
							<!-- <a href="./index.html"><img src="img/logo1.png" alt=""></a> -->
						</div>
						<ul>
							<li>254 Nguyễn Văn Linh, Thạc Gián, Thanh Khê, Đà Nẵng
								550000</li>
							<li>Phone: 0236 3653 561</li>
							<li>Email:System@ContactBook.com</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
					<div class="footer__widget">
						<h6>Useful Links</h6>
						<ul>
							<li><a href="#">About Us</a></li>
						</ul>
						<ul>
							<li><a href="#">Who We Are</a></li>
							<li><a href="#">Our Services</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-12">
					<div class="footer__widget">
						<h6>Join Our Newsletter Now</h6>
						<p>Get E-mail updates about our latest system and notify
							offers.</p>
						<form action="#">
							<input type="text" placeholder="Enter your mail">
							<button type="submit" style="background-color: #28a745;" class="site-btn">Subscribe</button>
						</form>
						<div class="footer__widget__social">
							
						</div>
					</div>
				</div>
			</div>

		</div>
	</footer>
	<!-- Footer Section End -->

	<!-- Js Plugins -->
	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.nice-select.min.js}"></script>
	<script th:src="@{/js/jquery-ui.min.js}"></script>
	<script th:src="@{/js/mixitup.min.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<!-- <script th:src="@{/js/handler.js}"></script> -->
	<script th:src="@{/CallEvent/main.js}"></script>

	<!-- <script src="/js/common/main.js" type="module"></script> -->

	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.nice-select.min.js"></script>
	<script src="/js/jquery-ui.min.js"></script>
	<script src="/js/mixitup.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<!-- <script src="/js/main.js"></script> -->
	<!-- <script src="/js/common/api.js"></script> -->
	<!-- <script src="/js/admin/showInfoStudent.js"></script> -->

	<script src="/CallAPI/main.js"></script>
	<script src="/CallEvent/main.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
		integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- <script th:src="@{/js/teacher.js}"></script> -->
	<!-- <script src="/js/teacher.js"></script> -->
	<!-- <script th:src="@{/js/administrator/administrator.js}"></script> -->
	<script src="../../../js/administrator/administrator.js"></script>

	<!-- <script src="../../../js/commonApi/app.js"></script> -->

	<!-- <script src="/js/main.js"></script> -->
	<!-- <script src="/js/common/main.js" type="module"></script> -->
</body>

</html>