<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Ogani Template">
  <meta name="keywords" content="Ogani, unica, creative, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Notification</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

  <!-- Css Styles -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
  <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
  <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>

  <header class="header">
    <div class="header__top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="header__top__left">
              <ul>
                <li><i class="fa fa-envelope"></i>System@ContactBook.com</li>
                <li>Welcome to ContactBook.com</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="header__top__right">
              <div class="header__top__right__social">

              </div>
              <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Log out</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="header__logo">
            <a href=""><img src="img/logo1.png" alt=""></a>
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="header__menu">
            <ul>
              <li><a href="/path?path_url=admin/Homepage">Home</a></li>
							<li><a href="/path?path_url=admin/adminProfile">Profile</a></li>
							<li><a href="/path?path_url=admin/getNotify">Notify</a></li>
							<li><a href="/path?path_url=admin/contact">Contact</a></li>
            </ul>
          </nav>
        </div>

      </div>
      <div class="humberger__open">
        <i class="fa fa-bars"></i>
      </div>
    </div>
  </header>
  <!-- Header Section End -->

  <!-- Hero Section Begin -->
  <section class="hero">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3">
          <div class="hero__categories">
            <div class="hero__categories__all" style="background-color: #28a745;">
              <i class="fa fa-bars"></i> <span>Menu</span>
            </div>
            <ul>
              <li><a href="/path?path_url=admin/teacherManage">School Manage</a></li>
							<li><a href="/path?path_url=admin/schedule">Schedule</a></li>
							<li><a href="/path?path_url=admin/sendNotify">Send Notify</a></li>
							<li><a href="/path?path_url=admin/aboutUs">Feedback User</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-9 bg-light p-3 rounded">
          <!--Notification Header-->
          <div class="row notification-header mb-3">
            <div class="col-9">
              <h2 class="text-success">Good day mr/mrs <label id="teacherName">Kyle</label></h2>
              <div>Share your important Information to your Teacher</div>
            </div>
            <!--Thêm Notification-->
            <div class="col-3 d-flex justify-content-center align-items-center">
              <button class="btn btn-success h-75" data-toggle="modal" data-target="#addNotification">Add New
                Notification</button>
            </div>

            <!--Modal Add Notification-->
            <div class="modal fade" id="addNotification" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header bg-success text-white">
                    <h4 class="modal-title ">Add Notification</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <!-- Add Class -->
                      <div class="form-group">
                        <label for="addClass">Class</label>
                        <input type="text" class="form-control" id="addClass" placeholder="Enter Class Code">
                      </div>
                      <!-- Add nội dung -->
                      <div class="form-group">
                        <label for="addContent">Content</label>
                        <input type="text" class="form-control" id="addContent" placeholder="Enter Content">
                      </div>
                      <!-- Add ngày bắt đầu -->
                      <div class="form-group">
                        <label for="addDateStart">Date Start</label>
                        <input type="text" class="form-control" id="addDateStart" placeholder="Enter Start Date">
                      </div>
                      <!-- Add ngày kết thúc -->
                      <div class="form-group">
                        <label for="addDateEnd">Date Start</label>
                        <input type="text" class="form-control" id="addDateEnd" placeholder="Enter End Date">
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Notification Body-->
          <div class="row notification-body p-3 ">
            <table class="table table-hover">
              <thead>
                <tr class="table bg-success text-white">
                  <th scope="col"></th>
                  <th scope="col">Class</th>
                  <th scope="col">Content</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">End Date</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-info">
                  <th scope="row">2</th>
                  <td>MTH203</td>
                  <td>Prepare your presentation v1.3</td>
                  <td>21/11/2022</td>
                  <td>30/11/2022</td>
                  <td>
                    <button data-toggle="modal" data-target="#editNotification" class="btn btn-info">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                  </td>
                </tr>
                <tr class="table-info">
                  <th scope="row">1</th>
                  <td>CHE204</td>
                  <td>Finish the Homework part 3 at Page 103</td>
                  <td>23/11/2022</td>
                  <td>29/11/2022</td>
                  <td>
                    <button data-toggle="modal" data-target="#editNotification" class="btn btn-info">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>

            <!--Modal Edit-->
            <div class="modal fade" id="editNotification" tabindex="-1" role="dialog"
              aria-labelledby="editNotificationLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header bg-info text-white">
                    <h4 class="modal-title ">Edit Notification</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <!-- Edit nội dung -->
                      <div class="form-group">
                        <label for="editContent">Content</label>
                        <input type="text" class="form-control" id="editContent" aria-describedby="emailHelp">
                      </div>
                      <!-- Edit ngày bắt đầu -->
                      <div class="form-group">
                        <label for="editDateStart">Date Start</label>
                        <input type="text" class="form-control" id="editDateStart">
                      </div>
                      <!-- Edit ngày kết thúc -->
                      <div class="form-group">
                        <label for="editDateEnd">Date Start</label>
                        <input type="text" class="form-control" id="editDateEnd">
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success">Save changes</button>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Hero Section End -->

  <!-- Footer Section Begin -->
  <footer class="footer spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer__about">
            <div class="footer__about__logo">
              <!-- <a href="./index.html"><img src="img/logo1.png" alt=""></a> -->
            </div>
            <ul>
              <li>254 Nguyễn Văn Linh, Thạc Gián, Thanh Khê, Đà Nẵng 550000</li>
              <li>Phone: 0236 3653 561</li>
              <li>Email:System@ContactBook.com</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
          <div class="footer__widget">
            <h6>Useful Links</h6>
            <ul>
              <li><a href="#">About Us</a></li>

            </ul>
            <ul>
              <li><a href="#">Who We Are</a></li>
              <li><a href="#">Our Services</a></li>

            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="footer__widget">
            <h6>Join Our Newsletter Now</h6>
            <p>Get E-mail updates about our latest system and notify offers.</p>
            <form action="#">
              <input type="text" placeholder="Enter your mail">
              <button type="submit" style="background-color: #28a745;" class="site-btn">Subscribe</button>
            </form>
            <div class="footer__widget__social">

            </div>
          </div>
        </div>
      </div>

    </div>
  </footer>
  <!-- Footer Section End -->

  <!-- Js Plugins -->
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.nice-select.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.slicknav.js"></script>
  <script src="/js/mixitup.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/main.js"></script>



</body>

</html>