* {
	font-family: Arial, Helvetica, sans-serif;
}

:root {
	--color-bg: #7fad39;
}

.table-crud td {
	padding: 2px 2px 1px 2px !important;
	vertical-align: middle !important;
}

.btn-crud {
	padding: 2px !important;
}

.header-class {
	padding: 5px 0 5px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	background-color: #435d7d;
}

.footer-class {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #a5a9af;
	padding: 3px 0 3px 0;
	border: 1px solid black;
	flex-basis: content;
}

#add-student {
	background-color: green;
}

.pointer {
	cursor: pointer;
	color: rgb(64, 117, 241);
}

.btn-primary {
	background-color: #007bff !important;
}

.modal {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-60%, -50%);
}

.header-class {
	background-color: #7fad39;
}

.bg-bgr {
	background-color:  var(--color-bg);
}

.nav-teacher-subject  > * {
	margin-right: 5px;
}

.nav-teacher-subject > * {
	width: 145px;
	height: 43px;
}

.nav-button-add > * {
	width: 145px;
	height: 43px;
	font-size: 20px;
}

.nav-teacher-subject  > *{
	margin-bottom: 5px;
}