.titleAttendance {
    padding: 4px 10px 4px 5px;
    background-color: darkcyan;
}

.item-time-study {
    cursor: pointer;
    display: flex;
}

.item-time-study:hover {
    background-color: cadetblue;
}

.item-time-study  > * {
    padding-right: 15px;
}


.item-classStudy {
    cursor: pointer;
    display: flex;
}

.item-classStudy   > *{
    width: 200px;
    padding-right: 20px;
}

.item-classStudy:hover {
    background-color: cadetblue;
}

.back-button {
    width: 100px;
    height: 30px;
}

.fa-backward {
    color: darkred;
}