<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title></title>



<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<!-- Checkout Section Begin -->
<body>
	<section class="checkout spad">
		<div class="container">

			<div class="checkout__form">
				<h4>Save Student</h4>
				<form id="form_add" th:object=${student} th:action="@{student}"
					method="post">
					<div class="row">
						<div class="col-lg-8 col-md-6">
							<div class="checkout__input">
								<p>
									Full Name<span>* <input th:field="*{fullName}">
									</span>
								</p>

							</div>
							<div class="checkout__input">
								<p>
									User Name<span>*<input id="userName"
										th:field="*{userName}"></span>
								</p>
								<div class="alert alert-warning"
									th:if="${#fields.hasErrors('userName')}"
									th:errors="*{userName}"></div>
							</div>
							<div class="checkout__input">
								<p>
									PassWord<span>*<input 
										th:field="*{password}"></span>
								</p>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="checkout__input">
										<p>
											Birth Day<span>*<input id="birthDay"
												th:field="*{birthDay}" type="date"></span>
										</p>

									</div>
								</div>
								<div class="col-lg-6">
									<div class="checkout__input">
										<p>
											Phone or Email<span>* <input id="phone"></span>
										</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="checkout__input">
										<p>
											Street<span>*<input /></span>
										</p>

									</div>
								</div>
								<div class="col-lg-6">
									<div class="checkout__input">
										<p>
											Ward<span>*<input id="" ></span>
										</p>

									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="checkout__input">
										<p>
											District<span>*<input id=""></span>
										</p>

									</div>
								</div>
								<div class="col-lg-6">
									<div class="checkout__input">
										<p>
											City<span>*<input id=""></span>
										</p>

									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="checkout__input">
										<p>
											Class<span>*<input id="classStudent"></span>
										</p>

									</div>
								</div>
								<div class="col-lg-6">
									<div class="checkout__input">
										<p>
											Age<span>*<input id="age"></span>
										</p>

									</div>
								</div>
							</div>
							<div class="checkout__input__checkbox">
								<label for="acc"> Create an account? <input
									type="checkbox" id="acc"> <span class="checkmark"></span>
								</label>
							</div>

							<button id="" type="submit" class="site-btn">ADD</button>
						</div>

					</div>
				</form>
			</div>
		</div>
	</section>

	<form>
		<div class="form-group row">
			<label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
			<div class="col-sm-10">
				<input type="text" readonly class="form-control-plaintext"
					id="staticEmail" value="email@example.com">
			</div>
		</div>
		<div class="form-group row">
			<label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" id="inputPassword"
					placeholder="Password">
			</div>
		</div>
	</form>
</body>
</html>
<!-- Checkout Section End -->